* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.container {
  background-color: #333;
  height: 100vh;
}

/* NAV */

.nav {
  background-color: rgb(141, 141, 141);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav .title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.cart-icon-container {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.cart-icon-container .cart-icon-cart {
  font-size: 3rem;
}
.cart-icon-container .cart-icon-count {
  position: absolute;
  z-index: 2;
  background-color: rgb(0, 229, 255);
  right: 0;
  font-size: 1.5rem;
  padding: 0.05rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
}

/* CARTCONTAINER */

.cart-container {
  background-color: rgb(189, 189, 189);
  height: 40rem;
  margin: 5rem 5rem;
  box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cart-container h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
}

.cart-container .btn-clear {
  justify-self: flex-end;
  margin-top: 2rem;
  background: none;
  outline: none;
  border: none;
  color: red;
  font-weight: 700;
  padding: 1rem;
  transition: all 0.1s ease-in;
}

.cart-container .btn-clear:hover {
  transform: scale(1.1);
  cursor: pointer;
}
