* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.container {
  background-color: #333;
  height: 100vh;
}

.nav {
  background-color: rgb(141, 141, 141);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav .title {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.cart-icon-container {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.cart-icon-container .cart-icon-cart {
  font-size: 3rem;
}
.cart-icon-container .cart-icon-count {
  position: absolute;
  z-index: 2;
  background-color: rgb(0, 229, 255);
  right: 0;
  font-size: 1.5rem;
  padding: 0.05rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
}
